li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.4s ease-out;
  color: var(--ion-color-dark);
  font-weight: 600;
  margin-bottom: 4px;

  &:hover {
    color: var(--ion-color-light);
    background: var(--ion-color-primary-tint);
    transform: scale(1.04);
  }

  &.blocked {
    background: var(--ion-color-danger);
  }

}